/*
 * Globals
 */

body {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #555;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #333;
}


/*
 * Override Bootstrap's default container.
 */

@media (min-width: 1200px) {
  .container {
    width: 100%;
    height: 450px;
    margin-top:-50px;
    background:  linear-gradient(to bottom,rgba(255, 255, 255, 0.0), #333 10%);
    /* background: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73)); */
    float: left;
    /* padding: 0px; */
  }
}


/*
 * Masthead for nav
 */

.blog-masthead {
  background-color: #428bca;
  -webkit-box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
          box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
}

/* Nav links */
.blog-nav-item {
  position: relative;
  display: inline-block;
  padding: 10px;
  font-weight: 500;
  color: #cdddeb;
}
.blog-nav-item:hover,
.blog-nav-item:focus {
  color: #fff;
  text-decoration: none;
}

/* Active state gets a caret at the bottom */
.blog-nav .active {
  color: #fff;
}
.blog-nav .active:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -5px;
  vertical-align: middle;
  content: " ";
  border-right: 5px solid transparent;
  border-bottom: 5px solid;
  border-left: 5px solid transparent;
}


/*
 * Blog name and description
 */

.overlay{
  width: 100%;
  height: 100%;
  background-color: rgba(1,0,0,0.25);
}

/* .content-below{
  width: 100%;
  height: 500px;
  background:
} */

.blog-header {
  width: 100%;
  height: 510px;
  /* position: absolute; */
  background-image: url("../asset/backgroud.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}
.blog-title {
  margin-top: 30px;
  margin-bottom: 0;
  font-size: 60px;
  font-weight: normal;
}
.blog-description {
  font-size: 20px;
  color: #999;
}

/*
 * Main column and sidebar layout
 */
.img-logo {
  margin: 40px 0px 0px 105px;
}
.search{
  height: 70px;
}

.blog-main {
  font-size: 18px;
  line-height: 1.5;
}

/* Sidebar modules for boxing content */
.sidebar-module {
  padding: 15px;
  margin: 0 -15px 15px;
}
.sidebar-module-inset {
  padding: 15px;
  background-color: #f5f5f5;
  border-radius: 4px;
}
.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
  margin-bottom: 0;
}


/* Pagination */
.pager {
  margin-bottom: 60px;
  text-align: left;
}
.pager > li > a {
  width: 140px;
  padding: 10px 20px;
  text-align: center;
  border-radius: 30px;
}


/*
 * Blog posts
 */

.blog-post {
  margin-bottom: 60px;
}
.blog-post-title {
  margin-bottom: 5px;
  font-size: 40px;
}
.blog-post-meta {
  margin-bottom: 20px;
  color: #999;
}


/*
 * Footer
 */

.blog-footer {
  background-color: white;
  color: #505050;
  font-family: "Open Sans", sans-serif;
  font-size: 1.5rem;
}

.blog-footer a, .blog-footer a:visited {
  color: #505050 !important;
}

.blog-footer a:hover, .blog-footer a:active {
  color: #505050 !important;
}

.blog-footer > div {
  margin: 0 auto;
  max-width: 1175px;
}

.blog-footer > div > div {
  margin-bottom: 30px;
}

.foot1 {
  padding: 40px 10px 50px;
}

.foot2 {
  font-size: 1.25rem;
  padding: 40px 10px 120px;
  border-top: 1px solid #e5e5e5;
}

.blog-footer ul {
  box-sizing: border-box;
  margin: 10px 0 10px 10px;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
}

.blog-footer ul li {
  float: left;
  height: 30px;
  width: 120px;
  margin-left: 32px;
}

.blog-footer ul i {
  background-size: 600px 599px;
  border-radius: 2px;
  display: block;
  float: none;
  position: absolute;
  margin-left: -30px;
  height: 23px;
  width: 23px;
}

.footer-link-facebook i {
  background-image: url("https://www.orlando.gov/files/oc-templates/00000000-0000-0000-0000-000000000000/7d7464b8-f248-4433-b870-efe915aca122/ORL-sprite-general.svg");
  background-position: -68px -571px;
}

.footer-link-twitter i {
  background-image: url("https://www.orlando.gov/files/oc-templates/00000000-0000-0000-0000-000000000000/7d7464b8-f248-4433-b870-efe915aca122/ORL-sprite-general.svg");
  background-position: -100px -571px;
}

.footer-link-youtube i {
  background-image: url("https://www.orlando.gov/files/oc-templates/00000000-0000-0000-0000-000000000000/7d7464b8-f248-4433-b870-efe915aca122/ORL-sprite-general.svg");
  background-position: -132px -571px;
}

.footer-link-flickr i {
  background-image: url("https://www.orlando.gov/files/oc-templates/00000000-0000-0000-0000-000000000000/7d7464b8-f248-4433-b870-efe915aca122/ORL-sprite-general.svg");
  background-position: -292px -572px;
}

.footer-link-instagram i {
  background-image: url("https://www.orlando.gov/files/oc-templates/00000000-0000-0000-0000-000000000000/7d7464b8-f248-4433-b870-efe915aca122/ORL-sprite-general.svg");
  background-position: -165px -572px;
}

.footer-link-snapchat i {
  background-image: url("https://www.orlando.gov/files/oc-templates/00000000-0000-0000-0000-000000000000/7d7464b8-f248-4433-b870-efe915aca122/ORL-sprite-general.svg");
  background-position: -419px -572px;
}

.footer-link-linkedin i {
  background-image: url("https://www.orlando.gov/files/oc-templates/00000000-0000-0000-0000-000000000000/7d7464b8-f248-4433-b870-efe915aca122/ORL-sprite-general.svg");
  background-position: -228px -572px;
}

.footer-link-nextdoor i {
  background-image: url("https://www.orlando.gov/files/oc-templates/00000000-0000-0000-0000-000000000000/7d7464b8-f248-4433-b870-efe915aca122/ORL-sprite-general.svg");
  background-position: -452px -572px;
}